
<% if current_user %>

<div class="user-info">
  <h1>User info</h1>
  <ul>
    <li>  User ID: <%= current_user.uid %> </li>
    <li>  Username: <%= current_user.name %> </li>
    <li>  Token Expiration: <%= Time.at(current_user.token_expiration) %> </li>
    <li>  Post Karma: <%= current_user.link_karma %> </li>
    <li>  Comment Karma: <%= current_user.comment_karma %> </li>
  </ul>
</div>

  <hr>

  <ul>
    <h2>My subreddits</h2>
    <% current_user.subreddits.each do |subreddit| %>
        <% unless subreddit.icon_img.empty? %>
          <li>
          <img src="<%= subreddit.icon_img %>" alt="<%= subreddit.display_name %>" width= 5%>
        <% end %>
        <a href="<%= subreddit.url %>">
          <%= subreddit.display_name %> </a> </li>
      <li> <%= subreddit.url %> </li>
      <li> <%= subreddit.title %> </li>
      <li> Subscribers: <%= subreddit.subscribers %> </li>
      <li>    </li>

      <hr>
    <% end %>
  </ul>
  <%= link_to "My Subreddits"  %>

<% else %>
  <%= link_to "Login with Reddit", '/auth/reddit'  %>
<% end %>
<!-- viewcontroller calls poro
poro calls service
service responds from  -->
